<!--******************************
	MODULE NAME: browse-edit.html
	DESCRIPTION: The detailed post content page, including edit (for OP), delete (for OP) and comment (for all users) functions.
	LINKED BY: explorer.html, profile.html
	USE JS: mainController.js, browse-edit.js
******************************-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="text/javascript"></script>  
    <!-- angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>	  
	<!-- social-share-kit -->
	<link rel="stylesheet" href="css/social-share-kit.css" type="text/css">
	<script type="text/javascript" src="js/social-share-kit.min.js"></script>

	<link rel="icon" href="img/welink_original.png">

	<title>Secret</title>

	<style>
		body { 
			padding-top: 50px; 
		}
		.space { margin:0; padding:0; height:30px; } 
	</style>

</head>
<body>

    <!-- load main controller -->
	<script src="mainController.js"></script>
	<script>
    angular
		.module('indexApp', ['ngRoute', 'ngCookies'])
		.controller('mainController', mainController);
	</script>

  	<!-- load nav bar -->
    <div ng-controller="mainController">
		<div id="header" ng-include="header.url" ng-init="is_index=true;"></div>
	</div>

	<!--large container-->
	<div ng-controller="loadController">
		<div class="container" role="largecontainer">		
			<div class = "page-header">
				<h2><span ng-bind="post.title"><!--I have a secret--></span> &nbsp; <small><span class="label label-default">Anonymous</span></small></h2>
				<!-- social network share kit -->
				<div class="ssk-sticky ssk-left ssk-center ssk-lg"  data-url="cu-hk.me/welcome.html" data-text="Hey want to know a secret I just heard?" >
					<a href="" class="ssk ssk-facebook"></a>
					<a href="" class="ssk ssk-twitter"></a>
                    <a href="" class="ssk ssk-google-plus"></a>
                </div>			
			</div>	

			<!-- content well -->
			<div class = "well well-lg">
				<div>
					<img class="img-responsive" ng-src="/uploads/{{post_id}}/0.jpg" style="height: 250px" ng-show = "has_pic"></img>
				</div>
				<div style="word-break: break-all">
					<font color="#114EA5">#CU#</font> 
					<span ng-bind="post.content"></span>
				</div>
				<div class="space"></div>				
				<!--four buttons-->
				<div style="position: relative; bottom: -30">
					<div style="postion: relative; margin-top: 20; display: inline">
						<small style="font-style:italic"> {{timeDiff}}</small>	
					</div>
					<div class = "btn-group pull-right btn-group-sm" style="display: inline" role="group" aria-label style="position: relative; right: 0; bottom: -10">
					    <button type="button" class ="btn btn-default" data-toggle="modal" data-target="#edit-modal" tag="edit" ng-show = "isOwner">
					        <span class="glyphicon glyphicon-edit"></span>
					    </button>
					    <button type="button" class ="btn btn-default" ng-show = "isOwner" ng-click = "deletePost()">
					        <span class="glyphicon glyphicon-trash"></span>
					    </button>
					        
					    <button type="button" class ="btn btn-default" data-toggle="modal" data-target="#comment-modal">
							<span class="glyphicon glyphicon-comment"></span>
					    </button>   
					</div>
				</div>	
				<!-- Edit Modal -->
			    <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			        <div class="modal-dialog" role="document">
			            <div class="modal-content">
							<div class="modal-header">
								<h5 style="display:inline" class="modal-title" id="exampleModalLabel"><span class="glyphicon glyphicon-share"></span> Edit: {{post.title}}</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: inline">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
			              
				            <div class="modal-body">
				                <div class="container" style="width: 100%">
						            <!--content-->				        
									<form name="commentForm" role="form">  	   
										<!-- title -->
						                <div class="form-group">
							                <label for="title">Title<font color="red">*</font></label>
							                <input type="text" class="form-control" name="title" id="title" ng-model="post.title" required>
							            </div>
						                <!-- content -->
						                <div class="form-group">
							                <label for="content">Content<font color="red">*</font></label>
							                <textarea ng-model="content" style="min-width: 100%" class="form-control" value="{{post.content}}" maxlength="800"> </textarea required>
							                <small id="" class="form-text text-muted">Maximum length is 800 characters</small>
							            </div>
							            <!-- buttons -->
							            <div class="form-actions">  
											<button type="button" class="btn btn-primary" ng-click="updatePost()" style="float: right; margin: 5px">Submit</button>
					                		<button type="button" class="btn btn-secondary" data-dismiss="modal" style="float: right; margin: 5px">Close</button>
										</div>
					                </form>
						        </div>
				            </div>

				            <div class="modal-footer">			              
							</div><!-- modal footer -->
			            </div><!-- modal content-->
			        </div><!-- modal dialog -->
			    </div><!-- modal -->

				<!-- Comment Modal -->
			    <div class="modal fade" id="comment-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			        <div class="modal-dialog" role="document">
			            <div class="modal-content">
							<div class="modal-header">
								<h5 style="display:inline" class="modal-title" id="exampleModalLabel"><span class="glyphicon glyphicon-share"></span> Re: {{post.title}}</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: inline">
								<span aria-hidden="true">&times;</span>
								</button>
							</div>
			              
				            <div class="modal-body">
				                <div class="container" style="width: 100%">
						            <!--content-->				        
										<form name="commentForm" role="form">
						                   	<div class="form-group">
							                    <label for="content">Content<font color="red">*</font></label>
							                    <textarea ng-model="comments" style="min-width: 100%" class="form-control" placeholder="Your comment..." > </textarea required>
							                    <small id="" class="form-text text-muted">Maximum length is 800 characters</small>
							                </div>
							                <!-- buttons -->	 
							                <div class="form-actions">
					                			<button type="button" class="btn btn-primary" ng-click="addComment()" style="float: right; margin: 5px">Submit</button>
					                			<button type="button" class="btn btn-secondary" data-dismiss="modal" style="float: right; margin: 5px">Close</button>
					                		</div>
					                	</form>
						        </div>
				            </div>
				            <div class="modal-footer">			              
							</div><!-- modal footer -->
			            </div><!-- modal content-->
			        </div><!-- modal dialog -->
			    </div><!-- modal -->
			</div>

			<!-- comment panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Comments ({{num_comments}})</h3>
				</div>
				<div class="panel-body">
					<table class="table table" style>
						<tbody>
							<tr ng-repeat="x in comments_array">
								<td style="word-break: break-all">
									<div><b></b></div> <!-- comment username -->
									<div id="comment" ng-bind="x[1]"></div>
									<div><small></small></div> <!-- comment time -->
								</td>
							</tr>
						</tbody>
					</table>
				</div> <!-- /panel body -->
            </div> <!-- /panel -->

			<!--page navi-->
			<div class="text-center" aria-label="Page navigation">
				<ul class="pagination">
					<li>
						<a href="browse-edit.html?{{post_id}}&page={{page-1}}" aria-label="Previous" ng-hide = "{{page == 1}}">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li ng-repeat="num in page_array"><a href="browse-edit.html?{{post_id}}&page={{num}}">{{num}}</a></li>
					<li>
						<a href="browse-edit.html?{{post_id}}&page={{page+1}}" aria-label="Next" ng-hide = "isFinal">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</div>  
		</div>
	</div>

	<script>
	angular.module('postApp', ['ngRoute', 'ngCookies']);
	</script>
	<script src="browse-edit.js"></script>
	<script>
	angular.element(function() {
    angular.bootstrap(document, ['indexApp', 'postApp'])
	})
	</script>

    <script type="text/javascript">
    	SocialShareKit.init();
    </script>

</body>
</html>