<!--******************************
	MODULE NAME: explorer.html
	DESCRIPTION: The page to explore the timeline of posts.
	LINKED BY: index.html, header.html
	USE JS: mainController.js, explorer.js
******************************-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--fb & wechat icons-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>
    <script src="js/bootstrap.min.js"></script>

    <!-- angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>

	<title>Explore post</title>
</head>
<body>
    <!--nav bar-->
	<div ng-controller="mainController">
		<div id="header" ng-include="header.url" ng-init="is_index=true;"></div>
	</div>

    <!-- load main controller -->
	<script src="mainController.js"></script>
	<script>
		angular
		.module('indexApp', ['ngRoute', 'ngCookies'])
		.controller('mainController', mainController);
	</script>

    <div class="container" role="large-container" ng-controller="explorerController">
    	<!-- page header -->
        <div class = "page-header">
            <h1> 
				<span class="label label-default"><div class ="glyphicon glyphicon-send"></div> &nbsp; Anonymous</span> 
                <a href="post.html"><button class="btn btn-primary pull-right"><div class="glyphicon glyphicon-pencil"></div> &nbsp; New post</button></a>
            </h1> <!-- /heading -->
        </div> <!-- /page-header -->

        <div class="list-group">
            <a ng-repeat="post in posts_array" href="/browse-edit.html?{{post._id}}&page=1" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">{{post.title}}</h5>
					<small>{{post.timeDiff}}</small>
				</div>
				<p style="word-break:break-all" class="mb-1">{{post.cotent}}</p>
				<small><span class="label label-default">Anonymous</span> </small>
            </a>
        </div> <!-- /list group -->

        <!--page navi-->
        <div class="text-center" aria-label="Page navigation">
			<ul class="pagination">
				<li>
					<a href="explorer.html?page={{page-1}}" aria-label="Previous" ng-hide = "{{page == 1}}">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li ng-repeat="num in page_array"><a href="explorer.html?page={{num}}">{{num}}</a></li>
				<li>
					<a href="explorer.html?page={{page+1}}" aria-label="Next" ng-hide = "isFinal">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
        </div>  
    </div> <!--/ large container -->

	<script>
		angular.module('explorerApp', ['ngRoute', 'ngCookies']);
	</script>
	<script src="explorer.js"></script>
	<script>
	angular.element(function() {
	angular.bootstrap(document, ['indexApp', 'explorerApp'])
	})
	</script>

    


</body>
</html>
