<!--******************************
	MODULE NAME: header.html
	DESCRIPTION: The navigation header at top of each page.
******************************-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<title>header</title>
	<style>
		body { 
			padding-top: 50px; 
		}
		.space { margin:0; padding:0; height:30px; } 
		img {
		max-width: 100%;
		max-height: 100%;
		}
	</style>
</head>
<body>
	<!--nav bar to be displayed in every page-->
	<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="mainController">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"><b><img src="img/logo.svg"></img></b>
				</a>
			</div>
			<!-- collapse menu on the RHS -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="glyphicon glyphicon-th-list" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
						<ul class="dropdown-menu">
							<li><a href="explorer.html?page=1">Anonymous Post</a></li>
							<li><a href="post.html">Create New Post</a></li>
							<li><a href="love.html">Love Matching</a></li>
						</ul>
					</li>
					<!-- conditional display of accout related buttons -->
					<li><a ng-show="signed_in" href="profile.html" class="glyphicon glyphicon-user"></a></li>
					<li><a ng-hide="signed_in" href="login.html" class="glyphicon glyphicon-log-in"></a></li>
					<li><a ng-show="signed_in" href="#" ng-click="sign_out()" class="glyphicon glyphicon-off"></a></li>	
				</ul>
			</div>
		</div>
	</nav>
</body>
</html>