<!--******************************
	MODULE NAME: index.html
	DESCRIPTION: Home page of the app
	LINKED BY: header.html
	USE JS: mainController.js, login.js
******************************-->
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<title>WeLink</title>
	<link rel="icon" href="img/welink_original.png">
	<!-- bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<!-- angular -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>

	<style>
		.jumbotron{
			position: relative;
			overflow: hidden;
			height:400px;
		} /* for video jumbotron */

		.video-container {
			width: 100%;
			height: 200%
			padding-right: 15px;
			padding-left: 50px;
			margin-right: auto;
			margin-left: auto;
			position: relative;
			color: #ffffff;
			z-index: 2; /* Show content above video */
		}

		#video-background{ 
			position: absolute;
			height: auto;
			width: auto;
			min-height: 150%;
			min-width: 100%;
			left: 50%;
			top: 50%;
			-webkit-transform: translate3d(-50%, -50%, 0);
			transform: translate3d(-50%, -50%, 0);
			z-index: 1;
			background-color: black;  
		}

		.glyphicon-large {
			font-size: 30px;
		}

		h3
		{
			color: #222222;
		}
	</style>

</head>
<body style="padding-bottom: 60px">

	<!-- nav bar and footer -->
    <div ng-controller="mainController">
		<div id="header" ng-include="header.url" ng-init="is_index=true;"></div>
		<div id="foot" ng-include="foot.url" ng-init="is_index=true;"></div>
    </div>

	<!-- load main controller -->
    <script src="mainController.js"></script>
    <script>
    angular
		.module('indexApp', ['ngRoute', 'ngCookies'])
        .controller('mainController', mainController);
	</script>

    <div class="jumbotron" ng-controller="mainController">
    	<!-- video background -->
	    <video id="video-background" preload muted autoplay loop>
			<source src="video/Flying over CUHK.mp4" type="video/mp4">
	    </video>

	    <!-- text and buttons above the video -->
	    <div class="video-container">
			<h1>WeLink —— discover a "deep" CUHK</h1>
			<p>Find out what's happening around you on campus, or anonymously share your own secrets.</p>
	    </div>
	    <ul style="list-style-type:none; position: absolute; bottom: 40px; z-index:2">
			<li style="float:left;margin:5px;">
				<a class="btn btn-lg btn-primary" href="register.html" role="button" target="_blank" ng-hide="signed_in">Sign up today</a>
			</li>
			<li style="float:left;margin:5px;">
				<a class="btn btn-lg btn-success" href="login.html" role="button" ng-hide="signed_in">Log in </a>
			</li>
			<li style="float:left;margin:5px;">
				<a class="btn btn-lg btn-primary" href="profile.html" role="button" ng-show="signed_in">Welcome, {{username}}</a>
			</li>
			<p></p>
	    </ul>
	</div>

	<div class="container" ng-controller="mainController">
		<!-- Three columns of text below the index -->    
		<div class="row">
			<div class="col-md-4">
				<a href="explorer.html" style="text-decoration: none">
					<font color="black">
						<span class="glyphicon glyphicon-send glyphicon-large" aria-hidden="true" href="explorer.html"></span>
						<h3>Anonymous post</h3>
						Latest news and gossips around you!
					</font>
				</a>
			</div><!-- /.col-lg-4 -->
			<div class="col-md-4">
				<a href="post.html" style="text-decoration: none">
					<font color="black">
						<span class="glyphicon glyphicon-sunglasses glyphicon-large" aria-hidden="true" href="post.html"></span>
						<h3>Your secret</h3>
						Anonymously share your own secrets
					</font>
				</a>
			</div><!-- /.col-lg-4 -->

			<div class="col-md-4">
				<a href="love.html" style="text-decoration: none">
					<font color="black"><span class="glyphicon glyphicon-heart glyphicon-large" aria-hidden="true" ></span>
					<h3>Express love</h3>
					<p>Let him/her know someone has fallen in love.</p></font>
				</a>
			</div><!-- /.col-lg-4 -->
		</div>
	</div><!-- /.row -->

    <script>
    angular.bootstrap(document, ['indexApp'])
	</script>

	<script>
    angular
		.module("indexApp", ["ngRoute"])
		.config(function($routeProvider){
        $routeProvider
        .when("/", {
			templateUrl: "index.html"
        })
        .when("/login", {
			templateUrl: "login.html",
			controller: "LoginController"
        });
		});
	</script>
</body>
</html>
