<!--******************************
	MODULE NAME: login.html
	DESCRIPTION: login page
	LINKED BY: index.html, header.html
	USE JS: mainController.js, login.js
******************************-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link crossorigin="anonymous" media="all" integrity="sha512-10kcctO8aIQaIV96pvdbnSF/NKsMQoRXQzn0Kdnx7nUufnPUDMGp1xp57ilQnZjZVbF9NZu74pHIf0knSEha7Q==" rel="stylesheet" href="https://assets-cdn.github.com/assets/github-c4d5af25254cfc8bb30ae5cb6f074c97.css">
	<link href="css/bootstrap.min.css" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--fb & wechat icons-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<!-- <script src="text/javascript"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>
	<link rel="stylesheet" href="lib/bootstrap-tagsinput.css" />
	<script src="lib/bootstrap-tagsinput.js"></script>
	<script src="lib/bootstrap-tagsinput-angular.js"></script>
	<link rel="icon" href="img/welink_original.png">
	<script src="login.js"></script>  
	<title>Sign in to Welink</title>

	<style>
		body
		{
			background-image: url('img/yia.png');
			background-repeat: no-repeat;
			background-size: auto;
			background-position: center;
		}

		.create-account-callout
		{
			background-color: transparent;
		}
	</style>
</head>

<body class="logged-out env-production page-responsive min-width-0 session-authentication" >

    <!-- load main controller -->
	<script src="mainController.js"></script>
	<script>
	angular
		.module('indexApp', ['ngRoute', 'ngCookies'])
		.controller('mainController', mainController);
    </script>
    <!-- load login & register controller -->
	<script src="login.js"></script>
    <div class="bg" >
	<div class="position-relative js-header-wrapper">
		<div class="header header-logged-out width-full pt-5 pb-4" style="margin-top: 100px" role="banner">
			<div class="container clearfix width-full text-center">
				<a class="header-logo" href="index.html">
					<img src="img/logo.svg" style="width: 300px">
					</img>
				</a>
			</div>
		</div>
	</div>

	<div role="main" class="application-main" >
		<div id="js-pjax-container" data-pjax-container="" style>
			<div class="auth-form px-3" id="login" >
				<form role="form" ng-controller="LoginController" ng-submit="login()" name="loginForm" style="opacity: 1" ng-init="signed_in = false">
					<!-- login failure message -->
					<span class="help-block" ng-init="loginFailed=false" ng-show="loginFailed">
						<div class="alert alert-danger" role="alert" ><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Wrong username or password
						</div>
					</span>
					<div class="auth-form-header p-0">
						<h1 style="color:#FFFFFF">Sign in to WeLink</h1>
					</div>
					<div id="js-flash-container"></div>
					<div class="auth-form-body mt-6" style="background-color: transparent; border-color: transparent">
         
						<!-- username -->
						<div class="form-group" ng-class="{'has-error': loginForm.username.$dirty && loginForm.username.$error.required }">
							<label for="username">
								<font color="#FFFFFF">Username</font>
							</label>
							<input type="text" name="username" id="username" class="form-control input-block" ng-model="credential.username" required />
						</div>

						<!-- password -->
						<div class="form-group" ng-class="{'has-error': loginForm.password.$dirty && loginForm.password.$error.required }">
							<label for="password" style="color:#FFFFFF">
								Password <!-- <a class="label-link" href="reset.html" style="color: #B7C5E8">Forgot password?</a> -->
							</label>
							<input type="password" name="password" id="password" class="form-control form-control input-block" ng-model="credential.password" required />
						</div>

						 <!-- form action -->
						<div class="form-actions">
							<button type="submit" id="login_btn" class="btn btn-primary btn-block" ng-disabled="loginForm.$invalid"> Sign in 
							</button>
						</div>
      
					</div>
				</form>

				<!-- link to register -->
				<p class="create-account-callout mt-5" style="color:#FFFFFF; border-color: transparent">
					 New to WeLink?
				<a data-ga-click="Sign in, switch to sign up" href="register.html" style="color: #B7C5E8;font-weight: bold">Create an account</a></p>
			</div>

		</div>

	</div>
	<script>
	angular.bootstrap(document, ['indexApp'])
	</script>

</body>
</html>