<!--******************************
	MODULE NAME: index.html
	DESCRIPTION: Home page of the app
	LINKED BY: index.html
	USE JS: mainController.js, express-love.js
******************************-->
<html>
<head>
	<title>Love</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/welink_original.png">
	<link href="https://fonts.googleapis.com/css?family=Waiting for the Sunrise" rel="stylesheet"> <!--typer effect-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="text/javascript"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="widget/typing.js"></script>
	
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>

	<style type="text/css">
		@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
		body
		{
			height: 100%;
			background-image: url('img/love4.jpg');
			background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 200%), url('img/love4.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
		.row {
			text-align: center;
		}
	</style>
</head>
<body style="padding-bottom:60px">

	<!-- nav bar -->
	<div ng-controller="mainController">
		<div id="header" ng-include="header.url" ng-init="is_index=true;"></div>
	</div>

    <!-- load main controller -->
	<script src="mainController.js"></script>
	<script>
    angular
		  .module('indexApp', ['ngRoute', 'ngCookies'])
		  .controller('mainController', mainController);
	</script>
	<script src="express-love.js"></script>

	<!-- poem typewriter effect -->
	<div class="row" style="margin-top: 50px; transform: translatey(-0%);">
		<div class="center">
			<div id="typedtext" style="font-family: Waiting for the Sunrise; color: white; font-size:10px; margin: 10px 50px; letter-spacing: 6px; "></div>
		</div>
	</div>

	<div style="position:fixed; top: 66%; left:50%; transform: translate(-50%, -50%);" ng-controller = "LoveController">
		<div style="width: 500px">
			<center>
				<form>
					<!-- input -->
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon">https://www.facebook.com/profile.php?id=</span>
						<input class="form-control" type="text" placeholder="his/her Fb id..." id="loveInput" ng-model="loverfbid" required>
					</div>
					<script type="text/javascript">
					$(function () {
						$("#loveInput")
						.popover({ placement: "top", html:"true", content: "Please input his/her facebook id here, and ensure you have linked your WeLink accout to your own facebook. <a href = 'https://findmyfbid.com/' target='_blank'>How to get the Fb id?</a>" })
						.blur(function () {
						$(this).popover('hide');
						});
					});
					</script>
					<!-- button -->
					<a href="#">
						<button style="margin-top: 50px; left: 50%"  type="button" class="btn btn-danger" ng-click="expressLove()" ng-hide="loveSignal"><span class="glyphicon glyphicon-heart"></span> Love
						</button>
						<button style="margin-top: 50px; left: 50%"  type="button" class="btn btn-danger" ng-click="changeLove()" ng-show="loveSignal"><span class="glyphicon glyphicon-heart"></span> Change Love
						</button>
					</a>
				</form>
			</center>
		</div>
	</div>

	<script>
    angular.bootstrap(document, ['indexApp'])
	</script>
	<script type="text/javascript">
		var aText = new Array(
			"I choose to love you in silence", 
			"for in my silence I find no rejection",
			"I choose to love you in my loneliness", 
			"for in my loneliness no one owns you but I",
			"I choose to adore you from a distance",
			"for distance shields us both from pain",
			"I chose to imprison you in my thoughts",
			"cause in my thoughts, freedom is for me to decide",
			"I choose to kiss you on the wind",
			"for the wind is gentler than my lips",
			"I choose to hold you only in my dreams",
			"for in my dreams there is no end",
			);
		var iSpeed = 100; // time delay of print out
		var iIndex = 0; // start printing array at this posision
		var iArrLength = aText[0].length; // the length of the text array
		var iScrollAt = 20; // start scrolling up at this many lines
		var iTextPos = 0; // initialise text position
		var sContents = ''; // initialise contents variable
		var iRow; // initialise current row
		 
		function typewriter()
		{
			sContents =  ' ';
			iRow = Math.max(0, iIndex-iScrollAt);
			var destination = document.getElementById("typedtext");
			while ( iRow < iIndex ) {
				sContents += aText[iRow++] + '<br />';
			}
			destination.innerHTML = sContents + aText[iIndex].substring(0, iTextPos) + "_";
			if ( iTextPos++ == iArrLength ) {
				iTextPos = 0;
				iIndex++;
				if ( iIndex != aText.length ) {
					iArrLength = aText[iIndex].length;
					setTimeout("typewriter()", 1000);
				}
			 } else {
				setTimeout("typewriter()", iSpeed);
			 }
		}
		typewriter();
	</script>
</body>
</html>