<!--******************************
	MODULE NAME: post.html
	DESCRIPTION: The page to write new anonymous post
	LINKED BY: index.html, profile.html, explorer.html
	USE JS: mainController.js, postCreate.js
******************************-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
			
		<!-- angular -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>     
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

		<link rel="stylesheet" href="lib/bootstrap-tagsinput.css" />
		<script src="lib/bootstrap-tagsinput.js"></script>
		<script src="lib/bootstrap-tagsinput-angular.js"></script>     
		<title>New post</title>
		<style>
			body { 
				padding-top: 50px; 
			}
			.space { margin:0; padding:0; height:30px; }
			.input-group-12{width: col-md-12;}

		</style>
	</head>
	<body>
		<!-- load main controller -->
		<script src="mainController.js"></script>
		<script>
			angular
				.module('indexApp', ['ngRoute', 'ngCookies'])
				.controller('mainController', mainController);
		</script>

		<!--load create post controller -->    
		<script src = "postCreate.js"></script>
		<script>
			angular
				.module("indexApp")
				.controller("postCreate",postCreate);
		</script>
		<!-- nav bar -->
		<div class="modal-dialog" ng-controller="mainController">
			<div id="header" ng-include="header.url" ng-init="is_index=true;"></div>
		</div>

		<div class="container" role="largecontainer">
			<div class = "page-header">
				<a href="explorer.html"><button type="button" class="close">&times;</button> </a>
				<h3><span class="glyphicon glyphicon-pencil"></span> New post</h3>
			</div>

			<div class = "panel panel-default">
				<div class ="panel-body">
					<div ng-controller="postCreate">
						<form name="PostForm" role="form">                
							<!-- title -->
							<div class="form-group has-feedback" ng-class = "PostForm.title.$dirty?(titleValid?'has-success':'has-error'):''">
								<label for="title">Title<font color="red">*</font></label>
								<input type="text" class="form-control" name="title" id="title" ng-model="title" ng-change="validateTitle(PostForm.title.$dirty)" required/>
								<span class="glyphicon form-control-feedback"
									ng-class="titleValid?'glyphicon-ok':'glyphicon-remove'"
									ng-show="PostForm.title.$dirty"></span>
								<span class="help-block" ng-show="PostForm.title.$dirty && !titleValid" >Title is required</span>
							</div>
							<hr/>
							<!-- content -->
							<div class="form-group">
								<label>Content<font color="red">*</font></label>
								<textarea class="form-control" rows="7" maxlength="800" ng-model="content" placeholder="Your post content..." ng-change="validateContent(PostForm.content.$dirty)" required></textarea>
								<small id="" class="form-text text-muted">Maximum length is 800 characters</small>
							</div>

							<!--upload file-->
							<div class="form-group col-lg-6">
								<label for="uploadfile">
									<span class="glyphicon glyphicon-camera"></span>
									upload picture (optional)
								</label>
								<input type="file" accept="image/*" name="pic" class="file" multiple data-show-upload="false" onchange="angular.element(this).scope().uploadFile(this.files)"/>
								<small>Only .jpg and .jpeg file allowed</small>
							</div>
							<!--button-->
							<div class = "form-actions">
								<!-- <button class="btn btn-primary" ng-disabled="!titleValid" ng-click="send_post()">Submit</button> -->
								<button class="btn btn-default" style="float:right; margin-left:5px">Cancel</button>
								<button class="btn btn-primary smooth-trans-btn" ng-disabled="!titleValid || !contentValid" ng-click="send_post()" style="float:right;">Submit</button>                 	
							</div>
						</form>
					</div>
				</div>
			</div>
		</div> <!-- /largecontainer -->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script>
		  angular.bootstrap(document, ['indexApp'])
		</script>
	</body>
</html>


