<!--******************************
	MODULE NAME: profile.html
	DESCRIPTION: The page to for user information, including updating profile, checking the list of his/her own posts, and checking love status.
	LINKED BY: header.html
	USE JS: mainController.js, profile.js
******************************-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>  

    <link rel="icon" href="img/welink_original.png">

    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet"><!-- modal font -->

    <title>Personal profile</title>
    <script src="text/javascript"></script>
    <script src="js/bootstrap.min.js"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet">

	<style type="text/css">

		.profile-background {
		  background-color: #F1F3FA;
		}

		/* Profile container */
		.profile {
		  margin: 20px 0;
		}

		/* Profile sidebar*/
		.profile-sidebar {
		  padding: 20px 0 10px 0;
		  background: #fff;
		}

		.profile-userpic img {
		  float: none;
		  margin: 0 auto;
		  width: auto;
		  height: auto;
		}

		.profile-usertitle {
		  text-align: center;
		  margin-top: 20px;
		}

		.profile-usertitle-name {
		  color: #5a7391;
		  font-size: 16px;
		  font-weight: 600;
		  margin-bottom: 7px;
		}

		.post-list {
		  font-size: 20px;
		  font-weight: 700;
		  margin-bottom: 7px;
		  margin-left: 5px;
		}

		.profile-uid {
		  text-transform: uppercase;
		  color: #5b9bd1;
		  font-size: 12px;
		  font-weight: 600;
		  margin-bottom: 15px;
		}

		.profile-userbuttons {
		  text-align: center;
		  margin-top: 10px;
		}

		.profile-userbuttons .btn {
		  text-transform: uppercase;
		  font-size: 11px;
		  font-weight: 600;
		  padding: 6px 15px;
		  margin-right: 5px;
		}

		.profile-userbuttons .btn:last-child {
		  margin-right: 0px;
		}
			
		.profile-usermenu {
		  margin-top: 20px;
		}


		/* profile content */
		.profile-content {
		  padding: 20px;
		  background: #fff;
		  min-height: 460px;
		}

		/* love match alert color */
		.alert-love
		{
		  color: #F8B3C6;
		  background-color: #F8B3C6;
		}

		/* facebook login button */
		.loginBtn {
		  box-sizing: border-box;
		  position: relative;
		  margin: 0.2em;
		  padding: 0 15px 0 46px;
		  border: none;
		  text-align: left;
		  line-height: 34px;
		  white-space: nowrap;
		  border-radius: 0.2em;
		  font-size: 16px;
		  color: #FFF;
		}
		.loginBtn:before {
		  content: "";
		  box-sizing: border-box;
		  position: absolute;
		  top: 0;
		  left: 0;
		  width: 34px;
		  height: 100%;
		}
		.loginBtn:focus {
		  outline: none;
		}
		.loginBtn:active {
		  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
		}

		/* facebook - icon */
		.loginBtn--facebook {
		  background-color: #4C69BA;
		  background-image: linear-gradient(#4C69BA, #3B55A0);
		  text-shadow: 0 -1px 0 #354C8C;
		}
		.loginBtn--facebook:before {
		  border-right: #364e92 1px solid;
		  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
		}
		.loginBtn--facebook:hover,
		.loginBtn--facebook:focus {
		  background-color: #5B7BD5;
		  background-image: linear-gradient(#5B7BD5, #4864B1);
		}

	</style>
</head>

<body class="profile-background">
	<!-- load main controller -->
	<script src="mainController.js"></script>
	<script>
		angular
		.module('indexApp', ['ngRoute', 'ngCookies'])
		.controller('mainController', mainController);
	</script>
	<script src="profile.js"></script>
	<!-- load main controller -->
	<div ng-controller="mainController">
		<div id="header" ng-include="header.url" ng-init="is_index=true;"></div>
	</div>

	<div class="container" ng-controller="ProfileController">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- user picture -->
				<div class="profile-userpic">
					<img src="img/user.png" class="img-responsive" alt="">
				</div>
				<!-- user title -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{user}}
					</div>
					<div class="profile-uid">
						WeLink ID: {{user}}
					</div>
				</div>
				<!-- buttons -->
				<div class="profile-userbuttons">
					<a href="post.html" style="text-decoration: none"><button type="button" class="btn btn-primary btn-sm">New post</button></a>
					<a href="#" style="text-decoration: none" ng-click="sign_out()"><button type="button" class="btn btn-danger btn-sm">Log out</button></a>
				</div>
				<!-- menu -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a data-toggle="modal" data-target="#loverModal">
				<i class="glyphicon glyphicon-heart-empty"></i>
				Lover settings </a>
						</li>
						<li>
							<a data-toggle="modal" data-target="#updateModal">
							<i class="glyphicon glyphicon-cog"></i>
				Update profile </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-7">
            <div class="profile-content">
			   <div class="alert alert-danger" role="alert" ng-show="love">
				  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
				  <span class="sr-only">Error:</span>
				  Your <a data-toggle="modal" class="alert-link" data-target="#loveSuccessModal">love match</a> is successful!
				</div>

        <!-- Lover settings modal -->
        <div class="modal fade" id="loverModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 style="display:inline" class="modal-title" id="exampleModalLabel">Lover</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: inline">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div ng-hide="loveSignal">You haven't create a love signal yet. Go and express your love!</div>
						<div ng-show="loveSignal">Your lover has been set as: {{loveUser}}</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-warning" ng-show="loveSignal" ng-click="removeLove()">Remove love signal</button>
						<a href="love.html"><button type="button" class="btn btn-danger" ng-show="loveSignal">Change the lover</button></a>
						<a href="love.html"><button type="button" class="btn btn-danger" ng-hide="loveSignal">Send love signal</button></a>
					</div>
				</div>
			</div>
        </div>

         <!-- update Modal -->
        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 style="display:inline" class="modal-title" id="exampleModalLabel">Update profile</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: inline">
								<span aria-hidden="true">&times;</span>
							</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="username" class="col-form-label">Username</label>
								<input type="text" class="form-control" id="username" ng-model="user" disabled>
							</div>
							<div class="form-group">
								<label for="email" class="col-form-label">Email</label>
								<div class="input-group">
									<input type="text" class="form-control" id="email" ng-model="email" disabled>
									<span class="input-group-addon" id="basic-addon">@link.cuhk.edu.hk</span>
								</div>
							</div>
							<div class="form-group">
								<label for="facebook" class="col-form-label" >Facebook</label>
								<div>
									<div class="input-group">
										<span class="input-group-addon" id="basic-addon">https://www.facebook.com/profile.php?id=</span>
										<input type="text" class="form-control" id="facebook" ng-model="fbid">
									</div>
									<button onclick="window.open('https://findmyfbid.com/')" class="loginBtn loginBtn--facebook">
										Find my Facebook ID
									</button>
								</div>
							</div>
						</form>            
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<a href="#"><button type="button" class="btn btn-primary" ng-click="updateProfile()">Save changes</button></a>
					</div>
				</div>
			</div>
        </div>

        <!-- love match success modal -->
        <div class="modal fade" id="loveSuccessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						</button>
					</div>
					<div class="modal-body" style=" width:100%; height:100%; margin:0; background:url('img/love-success3.jpg') center no-repeat; background-size:cover;">
						<div class="container" type="text" style="padding-top: 5%; margin-left: 10%; width: 80%; text-align: left; font-size: 20px; color: #FFFCFC; font-family: 'Gloria Hallelujah', cursive;">
							<p>Hi, {{username}}</p>
							<p>You are reading this message because  {{loveUser}} also sends you the love signal!</p>
							<p>At WeLink our server receives hundreds of love signals sent by our users everyday, but only very few of them can match. Actually, it is said that the probability two persons love each other simultaneously is only 0.37%. What a fortune you two can receive love signals from each other at WeLink!</p>
							<p>A similar message has been sent to the one you love. Maybe, he/she is also reading this message at this moment, just like you. So why not try to give him/her a phone call right now?</p>
							<p>Best wishes to both of you,</p>
							<p>WeLink Team</p>
						</div> <!-- /text container -->
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger">Close</button>
					</div>
				</div>
			</div>
        </div>
		<div class="post-list">
			List of your posts
		</div>

		<!-- list of user posts -->
		<div class="list-group">
			<a ng-repeat="post in posts_array" href="browse-edit.html?{{post._id}}&page=1" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1" style="font-weight: bold;">{{post.title}}</h5>
					<small style="font-style: italic;">{{post.timeDiff}}</small>
				</div>
				<p style="word-break:break-all" class="mb-1">{{post.content}} </p>
				<small><span class="label label-default">Anonymous</span> </small>
			</a>
            <div class="text-center" aria-label="Page navigation">
				<ul class="pagination">
					<li>
						<a href="profile.html?page={{page-1}}" aria-label="Previous" ng-hide = "{{page == 1}}">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li ng-repeat="num in page_array"><a href="profile.html?page={{num}}">{{num}}</a></li>
					<li>
						<a href="profile.html?page={{page+1}}" aria-label="Next" ng-hide = "isFinal">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</div>  
        </div> <!-- /list group -->
        </div>
		</div>
	</div>
</div>

<br>
<br>
<script>
	angular.bootstrap(document, ['indexApp'])
</script>
</body>
</html>