<!--******************************
	MODULE NAME: register.html
	DESCRIPTION: register page
	LINKED BY: index.html, header.html
	USE JS: mainController.js, register.js
******************************-->
<html lang="en">
<head>
	<link crossorigin="anonymous" media="all" integrity="sha512-10kcctO8aIQaIV96pvdbnSF/NKsMQoRXQzn0Kdnx7nUufnPUDMGp1xp57ilQnZjZVbF9NZu74pHIf0knSEha7Q==" rel="stylesheet" href="https://assets-cdn.github.com/assets/github-c4d5af25254cfc8bb30ae5cb6f074c97.css">
    <link href="css/bootstrap.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--fb & wechat icons-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>
    <link rel="stylesheet" href="lib/bootstrap-tagsinput.css" />
	<script src="lib/bootstrap-tagsinput.js"></script>
	<script src="lib/bootstrap-tagsinput-angular.js"></script>
    <link rel="icon" href="img/welink_original.png">
	 
    <title>Register</title>
	 
    <style type="text/css">
    body
    {
		height: 100%;
		background-image: url('img/cuhk2.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
    }
    h1
    {
		color: #FFF8DC;
		font-weight: bold;
    }
    h2
    {
		color: #FFFFFF;
		font-style: italic;
    }
    label
    {
		color: #FFFFFF;
		font-weight: normal;
    }
    .note
    {
		color: #FFF8DC;
    }
    </style>

</head>

<body class="logged-out env-production signup" style="margin-top: 70px">

    <!-- load main controller -->
	<script src="mainController.js"></script>
	<script>
		angular
		.module('indexApp', ['ngRoute', 'ngCookies'])
		.controller('mainController', mainController);
	</script>
    <!-- load login & register controller -->
	<script src="register.js"></script>
	<div role="main" class="application-main ">
      
		<div id="js-pjax-container" data-pjax-container="">
			<div class="bg-shade-gradient">
				<div class="setup-wrapper">
					<div class="setup-header setup-org">
						<h1>Join WeLink</h1>
					</div>
					<div class="setup-main ">
						<div class="setup-form-container">
							<form name="regForm" ng-controller="regController" role="form">
								<h2 class="f2-light mb-1">
									Be the real you, anonymously.
								</h2>

								<!--username-->
								<dl class="form-group has-feedback" ng-class="regForm.username.$dirty?
									(unValid?'has-success':'has-error'):''">
									<dt class="input-label">
										<label name="user[login]" for="username">
											Username</label>
									</dt>
									<dd>
										<input name="username" maxlength="20" autofocus="autofocus" class="form-control" type="text" id="user_login" ng-model="username" ng-change="validateUsername()" ng-blur="checkServer()" required />
										<p class="note">Please input your username.</p> 
									</dd>
									<span class="glyphicon form-control-feedback" ng-class="unValid?'glyphicon-ok':'glyphicon-remove'" ng-show="regForm.username.$dirty"></span>
									<span ng-show="regForm.username.$dirty && !unValid" class="help-block">
										<font color="red">{{unErrorMsg}}</font>
									</span>
								</dl>

								<!-- email -->
								<dl class="form-group has-feedback" ng-class="regForm.email.$dirty?
									(regForm.email.$error.email || regForm.email.$error.required?
									'has-error':'has-success'):''">
									<dt class="input-label">
										<label name="user[email]" for="email">Email address (CUHK Link)</label>
									</dt>
									<dd>
										<input name="email" class="form-control" type="email" maxlength="27" id="user_email" ng-change="validateEmail()" ng-model="email" required/>
										<p class="note">Used to find your password in case you forget it.</p>
									</dd>
									<span class="glyphicon form-control-feedback" ng-class="regForm.email.$error.email || regForm.email.$error.required?'glyphicon-remove':'glyphicon-ok'" ng-show="regForm.email.$dirty"></span>
									<span class="help-block" ng-show="regForm.email.$error.email" >
										<font color="red">{{emErrorMsg}}</font>
									</span>
								</dl>

								<!-- password -->
								<dl class="form-group has-feedback" ng-class="regForm.password.$dirty?(pwValid?'has-success':'has-error'):''">
									<dt class="input-label">
										<label name="user[password]" for="password">Password</label>
									</dt>
									<dd>
										<input name="password" class="form-control" type="password" id="reg-pw" maxlength="20" ng-model="password" ng-change="validatePassword(regForm.passwordConfirm.$dirty)" required />
										<p class="note">At least eight characters.</p>
									</dd>
									<span class="glyphicon form-control-feedback" ng-class="pwValid?'glyphicon-ok':'glyphicon-remove'" ng-show="regForm.password.$dirty"></span>
									<span ng-show="regForm.password.$dirty && !pwValid" class="help-block">
										<font color ="red">{{pwErrorMsg}}</font>
									</span>
	
								</dl>
								<!-- password confirm -->
								<dl class="form-group has-feedback" ng-class="regForm.passwordConfirm.$dirty?(pwValid?'has-success':'has-error'):''">
									<dt class="input-label">
										<label name="user[password]" for="passwordConfirm">Confirm Password</label>
									</dt>
									<dd>
									<input id="pw-confirm" type="password" name="passwordConfirm" class="form-control" maxlength="20" ng-disabled="!pwValid" 
										ng-model="passwordConfirm" ng-change="confirmPassword()" required />
									<span class="glyphicon form-control-feedback" ng-class="pwMatch?'glyphicon-ok':'glyphicon-remove'"
										ng-show="regForm.passwordConfirm.$dirty">
									</span>
									<span ng-show="regForm.passwordConfirm.$dirty && !pwMatch && pwValid" class="help-block">Password not match</span>
									</dd>
								</dl>

								<!-- form action button-->
								<div class="form-actions" style="margin-top: 15px;" ng-hide="register_success">
									<button type="submit" class="btn btn-primary" id="signup_button" ng-disabled="regForm.$invalid || regForm.passwordConfirm.$invalid || !unValid" ng-click="register()">Submit</button>								 
								</div>
								<div class="form-actions" ng-show="register_success" style="margin-top: 15px;" >
									<button href="/index.html" class="btn btn-info" style="width: 100px;" >OK</button>
								</div>
							 </form>
						</div> 
					</div> 
				</div>
			</div>
		</div>
	</div>
    <script>
		angular.bootstrap(document, ['indexApp'])
	</script>
</body>
</html>