<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--fb & wechat icons-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="text/javascript"></script>
    
    <!-- angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>	


   
   <!-- social-share-kit -->
   <link rel="stylesheet" href="css/social-share-kit.css" type="text/css">
   <script type="text/javascript" src="js/social-share-kit.min.js"></script>

   <link rel="icon" href="img/welink_original.png">

   <title>I have a secret</title>

    <!--angular
    <script src="main.js"></script>  
	  <script>
	  angular
	  .module('indexApp', ['ngRoute', 'ngCookies'])
	  .controller('main', mainController);
	</script>
	-->

	<style>
	body { 
    	padding-top: 50px; 
	}
	.space { margin:0; padding:0; height:30px; } 


	</style>

</head>
<body>
	<!-- abandoned fb sdk 
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/zh_CN/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
-->

  <!-- load main controller -->
  <div ng-controller="mainController">
    <div id="header" ng-include="header.url" ng-init="is_index=true;"></div>
  </div>

    <!-- load main controller -->
  <script src="mainController.js"></script>
  <script>
    angular
      .module('indexApp', ['ngRoute', 'ngCookies'])
      .controller('mainController', mainController);
  </script>



	<!--large container-->
<div ng-controller="loadController">
	<div class="container" role="largecontainer">		
		<div class = "page-header">
			<h2>I have a secret &nbsp; <small><span class="label label-default">Anonymous</span></small></h2>
				   <div class="ssk-sticky ssk-left ssk-center ssk-lg"  data-url="cu-hk.me/welcome.html" data-text="Hey want to know a secret I just heard?" >
                    <a href="" class="ssk ssk-facebook"></a>
                    <a href="" class="ssk ssk-twitter"></a>
                    <a href="" class="ssk ssk-google-plus"></a>
                  </div>
			
			
		</div>	


			<div class = "well well-lg">
				<div>
				<img class="img-responsive" ng-src="/posts/{{post_id}}/" style="height: 250px"></img>
				</div>
				<div>
				<font color="#114EA5">#CU1667#</font> A lovely cafe! Lazy fox jumps over quick brown dog. Lazy fox jumps over quick brown dog. Lazy fox jumps over quick brown dog. Lazy fox jumps over quick brown dog. Lazy fox jumps over quick brown dog. Lazy fox jumps over quick brown dog. 
				</div>

				<!--four buttons-->
					<div style="position: relative; bottom: -30">
						<div style="postion: relative; margin-top: 20; display: inline">
						<small style="font-style:italic"> 4 minutes ago</small>	
						</div>
						<div class = "btn-group pull-right btn-group-sm" style="display: inline" role="group" aria-label style="position: relative; right: 0; bottom: -10">
					        <button type="button" class ="btn btn-default" tag="edit">
					        	<span class="glyphicon glyphicon-edit"></span>
					        	
					        </button>
					        <button type="button" class ="btn btn-default">
					        	<span class="glyphicon glyphicon-trash"></span>
					 
					        </button>
					        
					        <button type="button" class ="btn btn-default" onclick="location.href = 'comment.html';">
					        <span class="glyphicon glyphicon-comment"></span>
					        </button>
					        
					        <!--
							<div class="btn-group btn-group-sm" role="group">
							    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							      <span class="glyphicon glyphicon-share-alt"></span>
							      
							    </button>
							    <ul class="dropdown-menu dropdown-menu-right">
							    		
							    	
							   
							      <li>
							      	<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.google.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
							      	<i class="fa fa-facebook-official" style="color:#3b5998"></i> Facebook</a>				   
							      </li>
							      <li>
							      	<a href="http://chart.apis.google.com/chart?cht=qr&chs=256x256&chld=L|0&chl=http://www.google.com">
							      	<i class="fa fa-wechat" style="color:#7bb32e"></i> WeChat</a></li>	      	
							    </ul>
							</div>
						-->
						</div>
				</div>	


			<div class="space"></div>	
		</div>

		<!--comment panel-->
		<div class="panel panel-default">
		  <div class="panel-heading">
		  	<h3 class="panel-title">Comments (19)</h3>
		  </div>
		  <div class="panel-body">
		    
		    <!--comment1-->
			<div class="panel panel-default">
			  	<div class="panel-heading">User #1</div>
			 	<div class="panel-body">
			    	Lazy fox jumps over quick brown dog. Lazy fox jumps over quick brown dog. Lazy fox jumps over quick brown dog. Lazy fox jumps over quick brown dog.
			  	</div>
			</div>

			 <!--comment2-->
			<div class="panel panel-default">
			  	<div class="panel-heading">User #2</div>
			 	<div class="panel-body">
			    	Lazy fox jumps over quick brown dog. Lazy fox jumps over quick brown dog. Lazy fox jumps over quick brown dog. Lazy fox jumps over quick brown dog.
			  	</div>
			</div>

			 <!--comment3-->
			<div class="panel panel-default">
			  	<div class="panel-heading">User #3</div>
			 	<div class="panel-body">
			    	Lazy fox jumps over quick brown dog. Lazy fox jumps over quick brown dog. Lazy fox jumps over quick brown dog. Lazy fox jumps over quick brown dog.
			  	</div>
			</div>

			<!--page navi-->
			<div class="text-center" aria-label="Page navigation">
			  <ul class="pagination">
			    <li>
			      <a href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    <li><a href="#">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			    <li>
			      <a href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</div>  

		  </div>
		</div>
	</div>
</div>

	<script>
    	angular.bootstrap(document, ['indexApp'])
    </script>

     <script type="text/javascript">
    SocialShareKit.init();
    </script>

	    <!--test area
		<div class="detailcard hoverable" id="titlePrice">
	            <div class="detailcardtitle" >
	              <span ng-bind="item.attributes.title" ></span>
	              <small style="float:right " >$<span ng-bind="item.price"></span></small>
	            </div>
	    </div>

	    <div class="smalldetailcard hoverable">
	              <div class="detailcardname">Share the item!</div>
	              <div class="ssk-group detailcardcontent"  data-text="Look at {{item.attributes.title}}!" >
	                <a href="" class="ssk ssk-facebook"></a>
	                <a href="" class="ssk ssk-twitter"></a>
	                <a href="" class="ssk ssk-google-plus"></a>
	              </div>
	    </div>
	    -->

	    <!--nav bar foot -->

</body>
</html>