<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>Index</title>
    <link rel="icon" href="img/welink_original.png">

    <script src="text/javascript"></script>
    <script src="js/bootstrap.min.js"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>



    <style>
.jumbotron{
   position: relative;
   overflow: hidden;
   height:400px;
} /* for video jumbotron */

.video-container {
    width: 100%;
    height: 200%
  padding-right: 15px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  color: #ffffff;
  z-index: 2; /* Show content above video */
}

#video-background{ 
  position: absolute;
  height: auto;
  width: auto;
  min-height: 150%;
  min-width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
}

.glyphicon-large {
  font-size: 30px;
}

h3
{
  color: #222222;
}
    </style>

  </head>
  <body style="padding-bottom: 60px">

    <!--
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">WeLink</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>
    old nav bar-->

  <!-- load main controller -->
  <div ng-controller="mainController">
    <div id="header" ng-include="header.url" ng-init="is_index=true;"></div>
    <div id="foot" ng-include="foot.url" ng-init="is_index=true;"></div>

  </div>

    <!-- load main controller -->
  <script src="mainController.js"></script>
  <script>
    angular
      .module('indexApp', ['ngRoute', 'ngCookies'])
      .controller('mainController', mainController);
  </script>




  

  <div class="jumbotron">
         <video id="video-background" preload muted autoplay loop>
    <source src="video/Flying over CUHK.mp4" type="video/mp4">

  </video>

    

          <div class="video-container">

 

        <h1>WeLink —— discover a "deep" CUHK</h1>
        <p>Find the what's happening around you on campus, or anonymously share your own secrets.</p>
         </div>
        <ul style="list-style-type:none; position: absolute; bottom: 40px; z-index:2">
        <li style="float:left;margin:5px;">
          <a class="btn btn-lg btn-primary" href="register.html" role="button" target="_blank" ng-hide="signed_in">Sign up today</a>
        </li>
        <li style="float:left;margin:5px;">
          <a class="btn btn-lg btn-success" href="login.html" role="button" ng-hide="signed_in">Log in </a>
        </li>
        <li style="float:left;margin:5px;">
          <a class="btn btn-lg btn-primary" href="login.html" role="button" target="_blank" ng-show="signed_in">Welcome, {{username}}</a>
        </li>

        <p></p>
        </ul>
   
         
   
          </div>
      

        <!--
        <div class="index-item">
          <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
          <div class="container">
            <div class="index-caption">
              <h1>Latest news around you!</h1>
              <p>Gossips, activities, cheapies and opportunies to earn pocket money~ </p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Find out</a></p>
            </div>
          </div>
        </div>
        <div class="index-item">
          <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
          <div class="container">
            <div class="index-caption text-right">
              <h1>Feel attracted by someone?</h1>
              <p>Let him/her know someone has fallen in love.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Express love</a></p>
            </div>
          </div>
        </div>

      -->
    

  

  </div> <!-- /jumbotron -->


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container">

        <!-- Three columns of text below the index -->
        
        <div class="row">
          <div class="col-md-4">
            <a href="explorer.html" style="text-decoration: none">
              <font color="black">
            <span class="glyphicon glyphicon-send glyphicon-large" aria-hidden="true" href="explorer.html"></span>
            <h3>Anonymous post</h3>
       Latest news and gossips around you!</font>
     </a>
          </div><!-- /.col-lg-4 -->

          <div class="col-md-4">
            <a href="post.html" style="text-decoration: none">
              <font color="black">
            <span class="glyphicon glyphicon-sunglasses glyphicon-large" aria-hidden="true" href="post.html"></span>
            <h3>Your secret</h3>
       Anonymously share your own secrets</font>
     </a>
          </div><!-- /.col-lg-4 -->

          <!--
          <div class="col-md-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <p><a class="btn btn-secondary" href="#" role="button">   Organize activities&raquo;  </a></p>
          </div>
          <div class="col-md-2">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <p><a class="btn btn-secondary" href="#" role="button">Enter the market&raquo;</a></p>
          </div>
      <div class="col-md-2">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <p><a class="btn btn-secondary" href="#" role="button">     Recruit helper&raquo;     </a></p>
          </div>

           -->
      <div class="col-md-4" href="#.html">
            <span class="glyphicon glyphicon-heart glyphicon-large" aria-hidden="true" ></span>
      <h3>Express love</h3>
      <p>Let him/her know someone has fallen in love.</p>
    </div>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    



      </div><!-- /.container -->


      <!-- FOOTER -->

      <!--nav bar foot -->

  <script>
    angular.bootstrap(document, ['indexApp'])
  </script>

     <!--
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; WeLink. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </main>
  -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- old srcipts
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    -->
  </body>
</html>